$red: #c83335;

@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin oval($width: 100px, $height: 50px) {
    // shape (oval)
    -moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;

	-moz-box-shadow: 5px 5px 5px #333;
    -webkit-box-shadow: 5px 5px 5px #333;
    box-shadow: 5px 5px 5px #333;
    
    width: 150px;
    height: 75px;
    line-height: 75px;
}

body {
    background-color: $red;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F03D40), to(#AB2C2D), color-stop(.6,#C83335));
    margin: 0;
    padding: 0;
}
    .container {
        text-align: center;
        background-color: #ffefb1;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF7D9), to(#E8D9A1), color-stop(.5,#FFEFB1));
        
        -moz-box-shadow: 5px 5px 5px #333;
        -webkit-box-shadow: 5px 5px 5px #333;
        box-shadow: 5px 5px 5px #333;
        
        padding: 10px;
        margin: 10px;
        font-family: helvetica, arial, sans-serif;

        @include rounded(30px);
        h1 > a {
            font-size: large;
            color: $red;
            text-shadow: 0.1em 0.1em 0.1em #000;
            text-decoration: none;
            
            .name {
                font-size: xx-large;
            }
        }
        .choose > a {
            color: $red;
            font-weight: bold;
            margin-top: 30px;
            
            @include oval;
            
            // color
            background-color: red;
            
            display: inline-block;
            color: white;
        }
    }
    .sandwich {
        // font
        font-weight: bold;
        
        // spacing
        margin: 0px;
        padding: 0px;
        .sandwich_part {
            // removes list style
            display: block;
            margin: 5px;
            padding: 5px;
            
            // font styles
            text-transform: capitalize;
            
            > div {
                display: inline-block;
                
                height: 75px; 
                line-height: 75px;     
                vertical-align: middle;          
            }
            .item_type {
                width: 100px;
                
                color: $red;
                font-variant:small-caps;
                font-size: large;
                
                text-shadow: 0.1em 0.1em 0.05em #333;
            }
            .item {
                // color
                background-color: #ffc32f;
                background-image: -webkit-radial-gradient(50% 50%, ellipse contain, #ffc32f 0%,#ffefb1 300%);
                
                // alignment
                text-align: center;
                
                font-size: small;
                
                @include oval
            }
        }
    }