$red: #c83335;

@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

body {
    background-color: $red;
    width: 320px;
}
    .container {
        text-align: center;
        background-color: #ffefb1;
        padding: 10px;

        @include rounded(30px);
        h1 > a {
            font-size: large;
            color: $red;
            .name {
                font-size: xx-large;
            }
        }
    }
    .sandwich {
        // font
        font-weight: bold;
        font-family: helvetica, arial, sans-serif;
        
        // spacing
        margin: 0px;
        padding: 0px;
        .sandwich_part {
            // removes list style
            display: block;
            margin: 5px;
            padding: 5px;
            
            // font styles
            text-transform: capitalize;
            
            > div {
                display: inline-block;
                
                height: 75px; 
                line-height: 75px;     
                vertical-align: middle;          
            }
            .item_type {
                width: 100px;
                
                color: $red;
                font-variant:small-caps;
                font-size: large;
            }
            .item {
                width: 150px;
                
                // color
                background-color: #ffc32f;
                background-image: -webkit-radial-gradient(50% 50%, ellipse contain, #ffc32f 0%,#ffefb1 300%);
                
                // alignment
                text-align: center;
                
                font-size: small;
                
                // shape (oval)
                -moz-border-radius: 100px / 50px;
            	-webkit-border-radius: 100px / 50px;
            	border-radius: 100px / 50px;
        	
            	-moz-box-shadow: 5px 5px 5px #333;
                -webkit-box-shadow: 5px 5px 5px #333;
                box-shadow: 5px 5px 5px #333;
            }
        }
    }