/* line 9, sass/global.scss */
body {
  background-color: #c83335;
  width: 320px;
}

/* line 13, sass/global.scss */
.container {
  text-align: center;
  background-color: #ffefb1;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
/* line 20, sass/global.scss */
.container h1 > a {
  font-size: large;
  color: #c83335;
}
/* line 23, sass/global.scss */
.container h1 > a .name {
  font-size: xx-large;
}

/* line 28, sass/global.scss */
.sandwich {
  font-weight: bold;
  font-family: helvetica, arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
/* line 36, sass/global.scss */
.sandwich .sandwich_part {
  display: block;
  margin: 5px;
  padding: 5px;
  text-transform: capitalize;
}
/* line 45, sass/global.scss */
.sandwich .sandwich_part > div {
  display: inline-block;
  height: 75px;
  line-height: 75px;
  vertical-align: middle;
}
/* line 52, sass/global.scss */
.sandwich .sandwich_part .item_type {
  width: 100px;
  color: #c83335;
  font-variant: small-caps;
  font-size: large;
}
/* line 59, sass/global.scss */
.sandwich .sandwich_part .item {
  width: 150px;
  background-color: #ffc32f;
  background-image: -webkit-radial-gradient(50% 50%, ellipse contain, #ffc32f 0%, #ffefb1 300%);
  text-align: center;
  font-size: small;
  -moz-border-radius: 100px/50px;
  -webkit-border-radius: 100px/50px;
  border-radius: 100px/50px;
  -moz-box-shadow: 5px 5px 5px #333;
  -webkit-box-shadow: 5px 5px 5px #333;
  box-shadow: 5px 5px 5px #333;
}
