%h1 
    %a{:href => '/', :title => 'Give me another'} 
        %span.name Wawa 
        Sandwich Roulette!

%ul.sandwich
    - %w{ sandwich toasted bread cheese spread condiments spices bacon }.each do |item_type|
        %li.sandwich_part
            .item_type= item_type
            .item= @sandwich[item_type.to_sym]

.choose
    %a{:href => '/'}  
        Choose Again!
